body {
  background-color: rgb(44, 44, 44);
  color: rgb(250, 250, 250);
  margin: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  padding: 1rem;
}

h1,
p {
  text-align: center;
}

form {
  margin: 2rem auto;
  background-color: rgba(51, 99, 171, 0.3);
  padding: 2rem;
  border-radius: 0.5rem;
}

input,
select,
textarea {
  font-size: 1rem;
  text-align: left;
  width: 100%;
  min-height: 2rem;
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #ebebeb;
  border: 1px solid #ebebeb;
  color: #0f0f0f;
}

label,
#features-label,
#development-label {
  text-align: left;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 0 0 0.5rem 0;
  font-size: large;
}

#survey-form>*+* {
  margin-top: 1.5em;
}

#title {
  font-weight: 700;
  font-size: 3rem;
}

#description {
  font-weight: 500;
  font-style: italic;
  font-size: 1.25rem;
}

#development {
  display: inline;
}

.radio-card {
  border: 1px solid #cccccc69;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.checkbox-card {
  cursor: pointer;
  margin-bottom: 0;
}

.radio,
.checkbox {
  display: block;
  width: auto;
}


.radio-card input {
  margin: 0;
}

.radio-card:hover {
  border-color: #888;
}

input[type="radio"] {
  width: 18px;
  height: 18px;
  accent-color: #0f62fe;
  cursor: pointer;
}

.button {
  width: 100%;
  display: block;
  align-items: center;
  gap: 6px;

  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 4px;

  background: #0f62fe;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;

  cursor: pointer;
  transition: background 0.12s ease, box-shadow 0.12s ease;
}

.button:hover {
  background: #0353e9;
}

.button:active {
  background: #002d9c;  
}

.button:focus-visible {
  outline: 2px solid #0f62fe;
  outline-offset: 2px;
}


@media screen and (width>=728px) {
  form {
    max-width: 100vh;
  }
}