body { 
  height: 100vh;
  background-color: rgb(44, 44, 44);
  color: rgb(250, 250, 250);
  margin: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}
* {
  text-align: center;
}

header {
  margin: 4rem 0 4rem 0;  
}

main {
  width: 100vh;
  margin: 0 auto;
}

#survey-form > * + * {
  margin-top: 1.5em;
}

#title {
  font-weight: 700;
  font-size: 3rem;
}

#description {
  font-weight: 500;
  font-style: italic;
  font-size: 1.25rem;
}