body { 
  background-color: rgb(44, 44, 44);
  color: rgb(250, 250, 250);
  margin: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  padding: 1rem;
}

h1, p {
  text-align: center;
}

form {
  margin: 2rem auto;
  background-color: rgba(51, 99, 171, 0.3);
  padding: 2rem;
  border-radius: 0.5rem;
}

input, select, textarea {
  font-size: 1rem;
  text-align: left;
  width: 100%;
  min-height: 2rem;
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #ebebeb;
  border: 1px solid #ebebeb;
  color: #0f0f0f;
}


label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: large;
}

@media screen and (width>=728px) {
  form {
    max-width: 100vh;
  }  
}

#survey-form > * + * {
  margin-top: 1.5em;
}

#title {
  font-weight: 700;
  font-size: 3rem;
}

#description {
  font-weight: 500;
  font-style: italic;
  font-size: 1.25rem;
}